.chats-screen .user-components {
  border-radius: 10px;
}
.user-components__box {
  padding: 3px;
  margin: 3px;
  border-radius: 15px;
}
.user-components__box:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 10px #9ea7aa;
}
.user-components__box:active {
  background-color: #f5f5f5;
  box-shadow: none;
}
